$primary-color: #B5DADC;
$secondary-color: #487BA2;

.container-fluid {
    background: linear-gradient(to right, #487BA2  , #B5DADC    ); // Gradient background
}

.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.text-primary {
    color: $secondary-color !important;
}

.btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    width: 100px;

    &:hover {
        background-color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
    }
}

.semicircle-button {
    border-radius: 50px; 
    height: auto;
    margin-right: 10px;
}
