<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="row justify-content-center">
        <div class="card shadow">
            <div class="card-body">
                <div class="efficraft-logo">
                    <img src="assets/images/logos/new-efficraft-transparent.png" >
                </div>
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            class="form-control"
                            required
                            [(ngModel)]="email"
                            name="email"
                        />
                    </div>
                    <div class="form-group mt-4">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            class="form-control"
                            required
                            [(ngModel)]="password"
                            name="password"
                        />
                    </div>
                    <div class="form-group text-center mt-3 d-flex justify-content-center" >
                        <button type="submit" class="btn btn-primary btn-block semicircle-button">
                            Login
                        </button>
                        <button type="button" class="btn btn-secondary semicircle-button" (click)="navigateToSignUp()">
                            Sign Up
                        </button>
                    </div>
                    <div class="text-center mt-3">
                        <p><a href="#" (click)="recoverPassword()">Have you forgotten your password?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>