<div class="sidebar">
    <h2 class="text-white">Efficraft Enterprise</h2>
    <div class="efficraft-logo">
        <img src="assets/images/logos/efficraft-black-primaryBg-logo.png" >
    </div>
    <ul class="list-unstyled">
        <li><a routerLink="/core/brands" class="sidebar-link brand-link">Brands</a></li>
        <li><a routerLink="/core/overview" class="sidebar-link">Overview</a></li>
        <li><a routerLink="/core/reference" class="sidebar-link">References</a></li>
        <li><a routerLink="/core/facts" class="sidebar-link">Facts</a></li>
        <li><a routerLink="/core/content" class="sidebar-link">Content</a></li>
    </ul>
</div>