<div class="sidebar">
    <h2 class="text-white">Efficraft Enterprise SA</h2>
    <ul class="list-unstyled">
        <li><a routerLink="/brands" class="sidebar-link brand-link">Brands</a></li>
        <li><a routerLink="/brands" class="sidebar-link">Overview</a></li>
        <li><a routerLink="/reference" class="sidebar-link">References</a></li>
        <li><a routerLink="/facts" class="sidebar-link">Facts</a></li>
        <li><a routerLink="/content" class="sidebar-link">Content</a></li>
    </ul>
</div>