
<div class = "latest-brands">
    <div class="row">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Search your brand..." [(ngModel)]="searchTerm" (input)="filterBrands()">
            <button type="button" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="add-button" [routerLink]="['/core/brands/create']">
            <i class="fas fa-plus"></i>
        </div>
    </div>

    <div class="image-gallery">
        <img *ngFor="let brand of displayedImages" [src]="brand.logo" alt="Image" class = "brandElements" (click) = "setActiveBrand(brand)">
    </div>
    <mat-paginator [length]="filteredBrands.length"
                    [pageSize]="pageSize"
                    (page)="onPageChange($event)"
                    class="paginator">
    </mat-paginator>
</div>
    