<div class= "central-margin">
    <div class = "main-title">
        <h1>Choose your brand</h1>
    </div>
    <div class = "latest-brands">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Search your brand...">
            <button type="button" class="search-button">
              <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="image-gallery">
            <img *ngFor="let url of displayedImages" [src]="url" alt="Image" class = "brandElements">
        </div>
        <mat-paginator [length]="imageUrls.length"
                        [pageSize]="pageSize"
                        (page)="onPageChange($event)"
                        class="paginator">
        </mat-paginator>
    </div>
    
    
    
    <div class="all-brands">
    
    </div>
</div>