/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

$primary-color: #B5DADC;
$secondary-color: #487BA2;

a {
    cursor: pointer;
  }

.central-margin {
  margin-top: 2%;
  margin-left: 5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
